div.conteudo
	div.col-md-12
		h1 Catálogo
	div.col-md-12
		h3 Filtros
		
	div.divider

	div.col-md-3
		div.inicial3#todos
			img(src="../img/todos.jpg")
			h5 Todos
	div.col-md-3
		div.inicial3#micro
			img(src="../img/mic_inicial.jpg")
			h5 Micro
	div.col-md-3
		div.inicial3#sensores
			img(src="../img/SENSOR/10.jpg")
			h5 Sensores
	div.col-md-3
		div.inicial3#componentes
			img(src="../img/comp_inicial.jpg")
			h5 Componentes
	div.col-md-3
		div.inicial3#displays
			img(src="../img/DISPLAY/33.jpg")
			h5 Displays
	div.col-md-3
		div.inicial3#cabos
			img(src="../img/CABO/46.jpg")
			h5 Cabos
	div.col-md-3
		div.inicial3#motores
			img(src="../img/MOTOR/52.jpg")
			h5 Motores
	div.col-md-3
		div.inicial3#embarcados
			img(src="../img/emb_inicial.jpg")
			h5 Embarcados

	div#print