doctype html
html
	head
		title= Pug
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='javascripts/jquery-3.1.1.min.js')
		script(src='javascripts/bootstrap.min.js')
		script(src="javascripts/3dcarousel.js")
		script(src='javascripts/script.js')
	body
		include shopping-cart
		include sidebar
		include titulo
		include conteudo2