div.conteudo
	div.col-md-12
		h1 Catálogo
	- for (var i = 1; i < dados.PIC.length; i++){
		div.col-md-4
			div.inicial2(data-toggle='tooltip' title=dados.PIC[i].nome)
				h3 #{dados.PIC[i].nome}
				img(src='../img/'+dados.PIC[i].código+'.jpg')
				h4 R$ #{dados.PIC[i].valor}
	-}