div.conteudo
	div.col-md-12
		h1 Principais produtos:
	div.col-md-4
		div.inicial(data-toggle='tooltip' title='Display Touchscreen 7" Raspberry Pi')
			img(src='../img/39.jpg')
	div.col-md-4
		div.inicial(data-toggle='tooltip' title='IoT Surfboard Globalcode')
			img(src='../img/65.jpg')
	div.col-md-4
		div.inicial(data-toggle='tooltip' title='Kit Jumpers Rígido x140 Unidades')
			img(src='../img/47.jpg')