extends layout

block sidebar
	div#wrapper
		div.overlay
		nav.navbar.navbar-inverse.navbar-fixed-top#sidebar-wrapper
				ul.nav.sidebar-nav
					li.sidebar-brand
						img(src='../img/logo.jpg')
						a(href='#') Biguibi
					li
						a(href='#')
							p Home
					li
						a(href='#')
							p Microcontroladores
					li
						a(href='#')
							p Sensores
					li
						a(href='#')
							p Componentes Eletrônicos
					li
						a(href='#')
							p Displays
					//- li.dropdown
					//- 	a(class="dropdown-toggle" data-toggle="dropdown" href='#')
					//- 		p Dropdown
					//- 			span.caret
					//- 	ul.dropdown-menu
					//- 		li.dropdown-header
					//- 			Dropdown heading
					//- 		li
					//- 			a(href='#') Action
					//- 		li
					//- 			a(href='#') Another action
					//- 		li
					//- 			a(href='#') Something else here
					//- 		li
					//- 			a(href='#') Separated link
					//- 		li
					//- 			a(href='#') One more separated link
					li
						a(href='#')
							p Cabos
					li
						a(href='#')
							p Motores
					li
						a(href='#')
							p Embarcados
		div#page-content-wrapper
			button(type='button' class='hamburger is-closed animated fadeInLeft' data-toggle='offcanvas')
				span.hamb-top
				span.hamb-middle
				span.hamb-bottom

block shopping-cart
	div.nav-top
		a(href='#')
			div.cart 
				i(class="fa fa-shopping-cart fa-2x" aria-hidden="true")
		a(href='#')
			div.cart 
				i(class="fa fa-usd fa-2x" aria-hidden="true")

block carousel
	div.titulo
			h1 Guibigui Componentes Eletrônicos

	div.container
	br
	div(id="myCarousel" class="carousel slide" data-ride="carousel")
		ol.carousel-indicators
			li(data-target="#myCarousel" data-slide-to="0" class="active")
			li(data-target="#myCarousel" data-slide-to="1")
			li(data-target="#myCarousel" data-slide-to="2")

		div(class="carousel-inner" role="listbox")

			div.item.active
				img(src='../img/mic_inicial.jpg' alt="Chania" width="100" height="50")
				div.carousel-caption
					h3 Microcontroladores
					p Conheça a nossa diversidade de Microcontroladores!

			div.item
				img(src='../img/emb_inicial.jpg' alt="Chania" width="300" height="200")
				div.carousel-caption
					h3 Embarcados
					p Conheça nossos sistemas embarcados!
	
			div.item
				img(src='../img/comp_inicial.jpg' alt="Chania" width="300" height="200")
				div.carousel-caption
					h3 Componentes Eletrônicos
					p Conheça a nossa diversidade de componentes eletrônicos!

		a(class="left carousel-control" href="#myCarousel" role="button" data-slide="prev")
				span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
				span.sr-only Previous

		a(class="right carousel-control" href="#myCarousel" role="button" data-slide="next")
				span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
				span.sr-only Next

block conteudo
	div.conteudo
		div.col-md-12
			h1 Principais produtos:
		div.col-md-4
			div.inicial(data-toggle='tooltip' title='Display Touchscreen 7" Raspberry Pi')
				img(src='../img/39.jpg')
		div.col-md-4
			div.inicial(data-toggle='tooltip' title='IoT Surfboard Globalcode')
				img(src='../img/65.jpg')
		div.col-md-4
			div.inicial(data-toggle='tooltip' title='Kit Jumpers Rígido x140 Unidades')
				img(src='../img/47.jpg')