extends layout

block sidebar
	div#wrapper
		div.overlay
		nav.navbar.navbar-inverse.navbar-fixed-top#sidebar-wrapper
				ul.nav.sidebar-nav
					li.sidebar-brand
						img(src='../img/logo.jpg')
						a(href='#') Biguibi
					li
						a(href='#')
							p Home
					li
						a(href='#')
							p Page one
					li
						a(href='#')
							p Second page
					li
						a(href='#')
							p Third page
					li.dropdown
						a(class="dropdown-toggle" data-toggle="dropdown" href='#')
							p Dropdown
								span.caret
						ul.dropdown-menu
							li.dropdown-header
								Dropdown heading
							li
								a(href='#') Action
							li
								a(href='#') Another action
							li
								a(href='#') Something else here
							li
								a(href='#') Separated link
							li
								a(href='#') One more separated link
					li
						a(href='#')
							p Page four
					li
						a(href='#')
							p Page 5
					li
						a(href='#')
							p Last page
		div#page-content-wrapper
			button(type='button' class='hamburger is-closed animated fadeInLeft' data-toggle='offcanvas')
				span.hamb-top
				span.hamb-middle
				span.hamb-bottom

block shopping-cart
	div.nav-top
		a(href='#')
			div.cart 
				i(class="fa fa-shopping-cart fa-2x" aria-hidden="true")
