extends layout

block sidebar
	div#wrapper
		div.overlay
		nav.navbar.navbar-inverse.navbar-fixed-top#sidebar-wrapper
				ul.nav.sidebar-nav
					li.sidebar-brand
						a(href='#') Biguibi
					li
						a(href='#')
							i.fa.fa-fw.fa-home Home
					li
						a(href='#')
							i.fa.fa-fw.fa-folder Page one
					li
						a(href='#')
							i.fa.fa-fw.fa-file-o Second page
					li
						a(href='#')
							i.fa.fa-fw.fa-cog Third page
					li.dropdown
						a(class="dropdown-toggle" data-toggle="dropdown" href='#')
							i.fa.fa-fw.fa-plus Dropdown
								span.caret
						ul.dropdown-menu
							li.dropdown-header
								Dropdown heading
							li
								a(href='#') Action
							li
								a(href='#') Another action
							li
								a(href='#') Something else here
							li
								a(href='#') Separated link
							li
								a(href='#') One more separated link
					li
						a(href='#')
							i.fa.fa-fw.fa-bank Page four
					li
						a(href='#')
							i.fa.fa-fw.fa-dropbox Page 5
					li
						a(href='#')
							i.fa.fa-fw.fa-twitter Last page
		div#page-content-wrapper
			button(type='button' class='hamburger is-closed animated fadeInLeft' data-toggle='offcanvas')
				span.hamb-top
				span.hamb-middle
				span.hamb-bottom