doctype html
html
	head
		title= Produto
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/materialize.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='../javascripts/jquery-3.1.1.min.js')
		script(src='../javascripts/materialize.min.js')
		script(src='../javascripts/bootstrap.min.js')
		script(src='../javascripts/script.js')
	body
		include shopping-cart
		include sidebar
		include fundo-produto