div.modalcarrinho

div.modalsearch
	div.container
		form(role="form")
			div.form-group
				input(type="input" class="form-control input-lg" id="txt-search" placeholder="Type your search character")
		div#filter-records

div.nav-top
	div.cart 
		i(class="fa fa-shopping-cart fa-2x" id="cart" aria-hidden="true")
	div.cart 
		i(class="fa fa-usd fa-2x" id="orça" aria-hidden="true")
	div.cart 
		i(class="fa fa-search fa-2x" id="search" aria-hidden="true")
	