div#wrapper
	div.overlay
	nav.navbar.navbar-inverse.navbar-fixed-top#sidebar-wrapper
			ul.nav.sidebar-nav
				li.sidebar-brand
					img(src='../img/logo.jpg')
					a(href='http://localhost:23100') Guibigui
				li
					a(href='http://localhost:23100/catalogo')
						p Catálogo
				li
					a(href='#')
						p Microcontroladores
				li
					a(href='#')
						p Sensores
				li
					a(href='#')
						p Componentes Eletrônicos
				li
					a(href='#')
						p Displays
				//- li.dropdown
				//- 	a(class="dropdown-toggle" data-toggle="dropdown" href='#')
				//- 		p Dropdown
				//- 			span.caret
				//- 	ul.dropdown-menu
				//- 		li.dropdown-header
				//- 			Dropdown heading
				//- 		li
				//- 			a(href='#') Action
				//- 		li
				//- 			a(href='#') Another action
				//- 		li
				//- 			a(href='#') Something else here
				//- 		li
				//- 			a(href='#') Separated link
				//- 		li
				//- 			a(href='#') One more separated link
				li
					a(href='#')
						p Cabos
				li
					a(href='#')
						p Motores
				li
					a(href='#')
						p Embarcados
	div#page-content-wrapper
		button(type='button' class='hamburger is-closed animated fadeInLeft' data-toggle='offcanvas')
			span.hamb-top
			span.hamb-middle
			span.hamb-bottom