div#wrapper
	div.overlay
	nav.navbar.navbar-inverse.navbar-fixed-top#sidebar-wrapper
			ul.nav.sidebar-nav
				li.sidebar-brand
					img(src='../../../img/logo.jpg')
					a(href='http://localhost:1470') Guibigui
				li
					a(href='http://localhost:1470/catalogo')
						p Catálogo
				li
					a(href='#')
						p Microcontroladores
				li
					a(href='#')
						p Sensores
				li
					a(href='#')
						p Componentes Eletrônicos
				li
					a(href='#')
						p Displays
				li
					a(href='#')
						p Cabos
				li
					a(href='#')
						p Motores
				li
					a(href='#')
						p Embarcados
	div#page-content-wrapper
		button(type='button' class='hamburger is-closed animated fadeInLeft' data-toggle='offcanvas')
			span.hamb-top
			span.hamb-middle
			span.hamb-bottom